*{
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    justify-content: start;
    align-items: start;
}

.barraLateral{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20vw;
    height: 100vh;
    flex-direction: column;
    border-right: 1px solid rgb(124, 135, 189);
    box-shadow: 8px 0 25px -6px rgb(120, 135, 212); 
}

.conteudoPrincipal {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#iconMaster{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20vw;
    height: 5vh;
    margin-left: 2vw;
    margin-top: 1vh;
    font-size: 3.5vh;
}

.menus-container{
    height: 6vh;
    width: 20vw;
    font-size: 2vh;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.4s;
}

.menus-container:hover{
    background-color: rgb(8, 21, 84);
    cursor: pointer;
    color: white;
}


.iconMenus{
    color: rgb(8, 21, 84);
    margin-left: 2vw;
    margin-right: 0.5vw;
    transition: 0.4s;
}

.menus-container:hover .iconMenus i {
    color: white;
}

.separador{
    height: 0.1vh;
    width: 18vw;
    background-color:rgb(8, 21, 84);
}

.titulosMenus{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 1.5vw;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
    width: 20vw;    
    color: rgb(161, 161, 161);
}

.barraLateral a {
    color: inherit;
    text-decoration: none; 
}

#sair{
    transition: 0.4s;
}

#sair:hover{
    background-color: red;
}
