*{
    margin: 0%;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudoPrincipal{
    height: 50vh;
    width: 50vw;
    border: 1px solid rgb(124, 135, 189);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(124, 135, 189);
}

#setaVoltar{
    margin-top: 3vh;
    margin-left: 2vw;
}