*{
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudoPrincipal{
    height: 55vh;
    width: 50vw;
    border: 1px solid rgb(124, 135, 189);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(124, 135, 189);
}

#setaVoltar{
    margin-top: 3vh;
    margin-left: 2vw;
}

.divisaoConteudoPrincipal{
    height: 45vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
}

.iconAgenda-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 25vw;
}

#iconAgenda{
    font-size: 20vh;
    color: rgb(8, 21, 84);
}

.login-container{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 25vw;
}

#formularioLogin{
    height: 15vh;
    width: 20vw;
}

#dados-container{
    height: 10vh;
    width: 20vw;
}

#botaoEntrar{
    width: 8vw; 
    height: 5vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgb(8, 21, 84);
    transition: 0.4s;
    border-color: white;
}

#botaoEntrar:hover{
    background-color: rgb(90, 140, 178);
}